<section class="post-body">
    <div class="title">
        <a href="/post/{{id}}" target="blank">{{title}}</a>
        <span>Posted by: {{user.username}}</span>
    </div>
    <div class="body">
        <pre>
            <code>
                {{post_body}}
            </code>
        </pre>
    </div>
    <div class="info">
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
        <span class="hidden" id="id-val">{{id}}</span>
    </div>
    <div>
        <a href="" type="button" class="vote-btn{{id}}" id="vote-btn">vote</a>
        <span id="vote-val" value="{{vote_count}}">{{vote_count}}</span>
        <span> votes</span>
    </div>
</section>