<section class="post-body">
    <div aria-label="upvote" aria-pressed="false" type="button" class="up-vote-icon">
    <i type="upvote" id="upvote-{{id}}" class="fas fa-angle-up"></i>
    </div>
    <div class="title">
        <a href="/post/{{id}}" target="blank">{{title}}</a>
        <span>Posted by: <a href="/profile/{{user.id}}">{{user.username}}</a></span>
        <span>{{format_date created_at}} ago</span>
        <span class="tags"><a href="/tag/{{tag_language}}">{{tag_language}}</a>
        <a href="/{{tag_genre}}">{{tag_genre}}</a></span>
    </div>
    <div class="body">
        <pre>
            <code>
                {{post_body}}
            </code>
        </pre>
    </div>
    <div class="info">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        <span class="hidden" id="id-val" value="{{id}}">{{id}}</span>
        <span class="vote-val" id="vote-val{{id}}" value="{{vote_count}}">{{vote_count}}</span>
        <span class="vote-val"> votes</span>
    </div>
    <div class="down-vote-icon">
    <i type="downvote" id="downvote-{{id}}" for="downvote-control"  class="fas fa-angle-down"></i>
    </label>
    </div>
</section>