<section class="post">
    <div class="title">
        <a href="{{title}}" target="blank">{{title}}</a>
        <span>Posted by: {{user.username}}</span>
    </div>
    <div class="body">
        <p>{{post_body}}</p>
    </div>
    <div class="info">
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
    <div>
        <button type="button" class="vote-btn">vote</button>
        <span id="vote-val" value="{{vote_count}}">{{vote_count}}</span>
        <span> votes</span>
    </div>
</section>