
<section class="post-body">
    <div aria-label="upvote" aria-pressed="false" 
    data-click-id="upvote" type="button" class="up-vote-icon" id="upvote-btn{{id}}">
    <input class="up-vote-check" type="checkbox" id="upvote-control" value="{{vote_count}}"/>
    <label class="btn" for="upvote-control">
    <i id="upvote-btn" for="upvote-control" class="fas fa-angle-up"></i>
    </label>
    </div>
    <div class="title">
        <a href="/post/{{id}}" target="blank">{{title}}</a>
        <span>Posted by: {{user.username}}</span>
        <span>{{format_date created_at}} ago</span>
        <span class="tags"><a href="/tag/{{tag_language}}">{{tag_language}}</a>
        <a href="/{{tag_genre}}">{{tag_genre}}</a></span>
    </div>
    <div class="body">
        <pre>
            <code>
                {{post_body}}
            </code>
        </pre>
    </div>
    <div class="info">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        <span class="hidden" id="id-val" value="{{id}}">{{id}}</span>
        <span class="vote-val" id="vote-val" value="{{vote_count}}">{{vote_count}}</span>
        <span class="vote-val"> votes</span>
    </div>
    <div class="down-vote-icon">
    <input type="checkbox" id="downvote-control" />
    <label class="btn" for="downvote-control">
    <i id="downvote-btn" for="downvote-control"  class="fas fa-angle-down"></i>
    </label>
    </div>
</section>
