<section class="side-info">
     <section class="sidebar-right">
   <div="inner-side">
    <div>
    <h3>{{posts.[1].user.username}}</h3>
    </div>
    <div>
        <h4>Software Engineer</h4>
    </div>
    <img class="profile-icon" src="/assets/avatar.jpg"></img>
    <div>
    <h4>Bio</h4>
    <p>{{posts.[1].user.bio}}</p>
    </div>
    <div>
    <div>
        <p>{{posts.length}} posts</p>
        <p>{{get_comments posts}} comments</p>
    </div>
    </div>
    </div>
 </section>
</section>

<section class="side-info">
     <section class="sidebar-left">
   <div="inner-side">
       <img src='{{concat_url posts.[1].user.github}}'></img>
    </div>
 </section>
</section>

<section>
{{#if posts.length}}
<section class="endless-scroll">
    <div class="posts-timeline">
        <h2 id="posts-id">Welcome Back {{posts.[1].user.username}} </h2>
        {{#each posts as |post|}}
        <div class="post-container">
            {{> post-info post}}
            <a href="/profile/edit/{{user.post.id}}" class="edit-link">Edit post</a>
        </div>
        {{/each}}
    </div>
</section>
{{/if}}
    <div id="btn-new-post-holder">
        {{!-- <button id="btn-new-post" class="btn-no-style"> + New Post</button> --}}
        <a href="/profile/create-post">Create Post</a>
    </div>

</section>