<section class="side-info">
     <section class="sidebar-right">
   <div="inner-side">
    <div class="header-card">
    <button class="edit-post auth-btns" id="edit-profile-btn">Edit</button>
    <h3 id="user-username">{{posts.[0].user.username}}</h3>
    <div>
        <h4 id="title-user">{{posts.[0].user.title}}</h4>
    </div>
    <img class="profile-icon" id="{{posts.[0].user.avatar}}" src="/assets/{{posts.[0].user.avatar}}"></img>
    </div>
    <div class="about-section">
    <p id="github-id">{{posts.[0].user.github}}</p>
    <p id="bio-text">{{posts.[0].user.bio}}</p>
    </div>
    <div>
    <div class="about-section">
        <p>{{posts.length}} posts <span>{{get_comments posts}} comments</span></p>
    </div>
    </div>
    </div>
 </section>
</section>

<section class="side-info">
     <section class="sidebar-left">
   <div class="inner-side" id="{{posts.[0].user.id}}">
       <div class="header-card">
       <img src='{{concat_url posts.[0].user.github}}'></img>
       </div>
        <div id="btn-new-post-holder">
        {{!-- <button id="btn-new-post" class="btn-no-style"> + New Post</button> --}}
        {{!-- <a href="/profile/create-post">Create Post</a> --}}
        </div>
    </div>
    </section>
</section>

<section>
{{#if posts.length}}
<section class="endless-scroll">
    <div class="posts-timeline">
        <h2 id="posts-id">Welcome Back {{posts.[0].user.username}} </h2>
        {{#each posts as |post|}}
        <div class="post-container">
            {{> post-info post}}
            <a href="/profile/edit/{{id}}" class="edit-link">Edit post</a>
        </div>
        {{/each}}
    </div>
</section>
{{else}}
<section class="endless-scroll">
    <div class="posts-timeline">
        <h2 id="posts-id">Welcome {{posts.[0].user.username}} </h2>
        <div class="post-container">
            <h3>You don't have any posts!</h3>
        </div>
    </div>
</section>
</section>
{{/if}}
<div id="edit-modal" class="modal">
    <div class="edit-modal-content container">
        <!-- sign up -->
    <div class="edit-right">
            <input type="text" class="input" name="username" placeholder="{{posts.[0].user.username}}" id="username-edit" />
            <input type="text" class="input" name="user-title" placeholder="{{posts.[0].user.title}}" id="title-edit" />
            <input type="text" class="input" name="user-github" placeholder="{{posts.[0].user.github}}" id="github-edit" />
            <button type="submit" class="auth-button" id="save-changes-btn">Save Changes</button>
    </div>
        <!-- login -->
    <div class="edit-left">
            <textarea type="text" class="input" name="user-bio" placeholder="bio" id="bio-edit"></textarea>
            <div class="drop-down">
            <img src="/assets/{{posts.[0].user.avatar}}" type="button" id="selectAv" class="avatar-icon selected">
            </img>
            <div id="avatar-options" class="options">
            <img src="/assets/avatar1.png" id="avatar1.png" type="button"class="avatar-icon"></img>
            <img src="/assets/avatar2.png" id="avatar2.png" type="button" class="avatar-icon"></img>
            <img src="/assets/avatar3.png" id="avatar3.png" type="button" class="avatar-icon"></img>
            <img src="/assets/avatar4.png" id="avatar4.png" type="button" class="avatar-icon"></img>
            <img src="/assets/avatar5.png" id="avatar5.png" type="button" class="avatar-icon"></img>
            <img src="/assets/avatar6.png" id="avatar6.png" type="button" class="avatar-icon"></img>
            <img src="/assets/avatar7.png" id="avatar7.png" type="button" class="avatar-icon"></img>
            <img src="/assets/avatar8.png" id="avatar8.png" type="button" class="avatar-icon"></img>
            </div>
            </div>
        <!-- overlay -->
    </div>
</div>

